@charset "utf-8";

*{margin:0; padding:0;}
li{list-style: none;}
a{
    text-decoration: none;
    display: block;
    color: #333;
    }
    fieldset{border:0;}
    legend{
        position: absolute;
        left: -999999999px;
    }
    #form{
        width: 600px;
        border: 1px solid #333;
        margin: 50px auto;
        padding: 50px;
    }
    #form fieldset > div::after{
        content: '';
        display: block;
        clear: both;
    }
    #form fieldset > div >  label{
        width: 150px;
        font-weight: bold;
        /* background-color: cadetblue; */
        text-align: right;
       /* display: inline-block;*/
        float: left;
        line-height: 32px;
        margin-right: 10px;
    }
    input[type="text"]
    input[type="password"] {
        width: 300px;
        height: 30px;
        margin-bottom: 5px;
        border: 1px solid #000;
        padding: 0 10px;
        box-sizing: border-box;
    }

    ::placeholder{
        font-size: 12px;
        color:#ddd;
    }

    input[type="button"]{
        width: 300px;
        height:30px;
        background-color: rgba(225, 0, 0);
        color:#fff;
        border: 1px solid #000;
        margin-bottom: 5px;

    }
    .address input[type="text"] {
        margin-left:160px;
    }
    .drank div{
        display: inline-block;
        line-height: 32px;
    }
    textarea{
        resize: none;
        width: 300px;
    }
    select{
        height: 40px;
        width: 200px;
    }
    .button input[type="reset"]{
        width: 120px;
        height: 40px;
        border: 1px solid #000;
        background-color: #fff;
    }

    .button input[type="submit"]{
        width: 120px;
        height: 40px;
        border: 1px solid #000;
        background-color:cornflowerblue;
    }

    .button{
        text-align: center;
        margin-top: 40px;
    }

    input[type="radio"]+span{
        line-height: 32px;
    }
